* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;
  padding: 20px;
} 

.page {
 display: flex;
 flex-direction: row;
 height: 100vh;
}
